html, body {
    background: #1f2122;
    font-family: 'Poppins', sans-serif;
}
.main-banner h1 {
    font-size: 1.5em;
    color: aliceblue;
    font-weight: 600;
}
.main-banner h4 {
    font-size: 2.5em;
    color: aliceblue;
}
.main-banner em{
    font-style: normal;
    color: rgb(10, 78, 180);
}
.header-text {
    text-align: center;
}
.main-banner {
    background-image: url(../images/banner_bg.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 380px;
    border-radius: 23px;
    padding: 19% 13%;
}
.main-button {
    margin-top: 8%;;
}
.main-button a {
    text-decoration: none;
    font-size: 1em;
    color: #fff;
    background-color: #479cd4;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}
body .page-content {
    margin-top: 8%;
    background-color: #27292a;
    padding: 10%;
    padding-top: 0;
    border-radius: 23px;
}
header {
    height: 8.4vh;
    background-color: #fff;
}
.most-visited h2{
    color: #479cd4;
    font-weight: 600;
}
.most-visited {
    margin-top: 17%;
    padding: 2%;
    background-color: #1f2122;
    border-radius: 23px;
}
.most-visited .item {
    background-color: #27292a;
    padding: 9% 5%;
    border-radius: 23px;
    margin: 7% auto;
    margin-left: 8%;
}
img {
    width: 100%;
    overflow: hidden;
}
.most-visited .item img, .carousel img {
    border-radius: 23px;
}
.most-visited .heading-section {
    margin-top: 5%;
    margin-left: 5%;
}
.most-visited .item ul li, .carousel-item ul li, .top-downloaded ul li, .left-info ul li, .right-info ul li, .others .item ul li {
    padding: 0;
    margin-top: -10%;
    margin-bottom: 10%;
    text-align: right;
    color: #fff;
    font-size: 0.9em;
    list-style: none;
}
.most-visited .item h4, .carousel-item h4, .left-info h4, .others .item h4 {
    font-size: 1em;
    margin-top: 7%;
    margin-bottom: 0;
    display: inline-block;
    color: #fff;
    font-weight: 600;
}
.fa-star {
    color: yellow;
}
.fa-download {
    color: #479cd4;
}
.fa-star span{
    color: #fff;
}
.fa-download span{
    color:#fff;
}
.most-visited .main-button {
    text-align: center;
    margin-top: -1%;
    margin-left: 9%;
}
.heading-section h4 {
    font-size: 1.5em;
    color: rgb(81, 150, 253);
    font-weight: 600;
}
.your-worlds {
    margin-top: 17%;
    padding: 9%;
    background-color: #1f2122;
    border-radius: 23px;
}
.gameicon {
    max-width: 80px;
    border-radius: 23px;
}
.your-worlds .item ul li:first-child {
    text-align: center !important;
    margin-right: 10%;
}
.your-worlds .item ul li img {
    margin-top: 6%;
}
.your-worlds .item {
    border-bottom: 1px solid #27292a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.your-worlds .item ul li {
    padding: 0;
    color: #fff;
    list-style: none;
}
.your-worlds .item ul li h4{
    font-size: 1.3em;
    margin-top: 6%;
}
.your-worlds .item ul .right {
    text-align: right;
    margin-top: -15%;
}
.your-worlds .item ul li span {
    color: #666;
    font-size: 1em;
}
.your-worlds .main-button {
    text-align: center;
    margin-top: -1%;
}
.recommended {
    border-radius: 23px;
    background-color: #1f2122;
    padding: 9%;
    margin: auto -8%;
}
.recommended .heading-section h4{
    text-align: left;
    font-weight: 600;
}
.carousel-item {
    margin-top: 5%;
}
.carousel-indicators {
    margin-bottom: -4%;
}
.carousel-item h4{
    font-size: 1.2em;
    float: left;
}
.carousel-item ul{
    float: right;
    margin-top: 8%;
}
.top-downloaded {
    border-radius: 23px;
    background-color: #1f2122;
    padding: 9%;
    margin: 8% -8%;
}
.top-downloaded ul li {
    border-bottom: 1px solid #27292a;
    margin-bottom: 12%;
    padding-top: 8%;
    padding-bottom: 17%;
}
.top-downloaded ul li img {
    float: left;
    margin-right: 5%;
    margin-left: -10%;
    margin-top: -2%;
}
.top-downloaded ul {
    margin-top: 10%;
}
.top-downloaded ul li i{
    margin-left: 3%;
}
.recorded-moments {
    border-radius: 23px;
    background-color: #1f2122;
    padding: 9%;
    margin: auto -8%;
}
.recorded-moments img {
    border-radius: 23px;
}
.recorded-moments .item {
    margin-top: 3%;
    padding-top: 5%;
}
.recorded-moments .item a {
    background-color: #479cd4;
    padding: 5px 10px;
    border-radius: 23px;
    margin-right: 8%;
}
.recorded-moments .item i{
    color:#fff;
    font-size: 0.8em;
    margin-top: 8%;
}
.recorded-moments .item h4 {
    color: #fff;
    margin-top: 5%;
    border-bottom: 1px solid #27292a;
    padding-bottom: 10%;
}
.page-content img {
    border-radius: 23px;
}
video {
    width: 100%;
    border-radius: 23px;
    margin-top: 10%;
}
.details h2 {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    margin: 60px 0px;
    color: #479cd4;
    font-weight: 700;
}
.details .content {
    border-radius: 23px;
    padding: 9%;
    background-color: #1f2122;
}
.details .content .left-info {
    background-color: #27292a;
    border-radius: 23px;
    padding: 9%;
    padding-bottom: 2%;
    margin-bottom: 9%;
}
.details .content .left span {
    color: #666;
    display: block;
    margin-top: 7px;
    font-weight: 400;
}
.details .content .left-info .left {
    float: left;
}
.details .content .left-info ul {
    margin-top: 12%;
}
.details .content .left-info ul li {
    margin-bottom: 14%;
}
.details .content .right-info {
    background-color: #27292a;
    border-radius: 23px;
    padding: 9%;
    padding-bottom: 0;
    margin-bottom: 9%;
}
.right-info .fa-server, .right-info .fa-gamepad {
    color: #479cd4;
}
.details .content .right-info ul li {
    display: inline-block;
    width: 23%;
    text-align: center;
    font-size: 0.95em;
    color: #fff;
}
.details .content .right-info ul li i {
    display: block;
    margin-bottom: 14%;
}
.details .content .right-info ul {
    margin-left: -14%;
    margin-top: 10%;
}
.details .content img {
    border-radius: 23px;
    margin-bottom: 9%;
}
.details .content p {
    font-size: 1em;
    color: #666;
    line-height: 1.5em;
}
.details .content .main-button{
    text-align-last: center;
}
.others {
    border-radius: 23px;
    background-color: #1f2122;
    padding: 9%;
    padding-bottom: 0;
    margin: 9% auto;
}
.others .item {
    position: relative;
    border-bottom: 1px solid #27292a;
    padding-bottom: 9%;
    margin-bottom: 9%;
}
.others .item h4 {
    position: absolute;
    font-size: 1em;
    bottom: 67%;
    left: 35%;
}
.others .item ul {
    float: right;
    margin-top: 7%;
}
.others .heading-section {
    margin-bottom: 12%;
}
.main-profile {
    border-radius: 23px;
    padding: 9%;
    background-color: #1f2122;
    margin: auto -9%;
}
.main-profile img {
    border-radius: 23px;
}
.align-self-center {
    align-self: center!important;
}
.main-profile .main-info span {
    font-size: 1em;
    color: #fff;
    background-color: #479cd4;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 10%;
    margin-bottom: 5%;
    
}
.main-profile .main-info h4 {
    margin-bottom: 5%;
    color: #fff;
    font-weight: 600;
    font-size: 1.5em;
}
.main-profile .main-info p {
    font-size: 1em;
    color: #666;
    line-height: 1.5em;
}
.main-info {
    text-align: left;
}
.main-button a {
    background-color: #479cd4;
}
.main-button a:hover {
    background-color: #003d66;
}
.main-profile ul {
    border-radius: 23px;
    padding: 9%;
    background-color: #27292a;
    margin-top: 9%;
}
.main-profile ul li {
    font-size: 1em;
    color: #666;
    margin-bottom: 7%;
    padding-bottom: 7%;
    border-bottom: 1px solid #666;
    list-style: none;
}
.main-profile ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.main-profile ul li span {
    float: right;
    font-weight: 600;
    color: #479cd4;
}
.videos {
    margin-top: 9%;
    border-top: 2px solid #27292a;
}
.videos .heading-section {
    margin-top: 9%;
    margin-bottom: 9%;
}
.videos .item {
    border-radius: 23px;
    padding: 9% 5%;
    background-color: #27292a;
    margin-bottom: 9%;
}
.videos .item .thumb {
    position: relative;
    margin-bottom: 5%;
}
.videos .item .thumb a {
    position: absolute;
    left: 43%;
    top: 43%;
    width: 15%;
    background-color: #479cd4;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 3em;
    color: #f0f0f0;
}
.videos .item .thumb a:hover {
    background-color: #003d66;
}
.videos .item h4 {
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    color:#fff
}
.videos .item .down-content i {
    float: right;
    color: #479cd4;
    font-size: 0.8em;
    font-weight: normal;
    margin-top: 2%;
}
.videos span {
    color: #fff;
}
.videos .main-button {
    text-align-last:center;
    margin-top: 2%;
}
.your-worlds .last-item {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
footer p {
    text-align: center;
    padding: 9% 0;
    color: #fff;
    font-weight: 300;
}
.temp {
    margin-left: -8%;
    margin-right: -8%;
}
.temp .item ul .right {
    margin-top: -13%;
}

@media (min-width: 768px) { 
    header {
        margin-bottom: -5%;
    }
    body .page-content {
        padding: 5%;
    }
    .main-banner {
        height: 30vh;
        padding: 7%;
    }
    .main-banner .header-text {
        text-align: left;
    }
    .most-visited {
        margin-top: 2%;
    }
    .most-visited .heading-section {
        margin-top: 2%;
    }
    .most-visited .main-button {
        margin-left: 3%;
    }
    .page-content .your-worlds {
        margin: 0;
        margin-top: 2%;
        padding: 7%;
        padding-top: 4%;
        padding-bottom: 3%;
    }
    .page-content .your-worlds ul li:first-child {
        text-align-last: left;
        margin-right: 2%;
    }
    .page-content .your-worlds ul li {
        margin: 0;
        width: 15%;
        display: inline-block;
    }
    .page-content .your-worlds ul .right {
        float: right;
        width: 65%;
        margin-top: 2.5%;
    }
    .page-content .your-worlds .right div {
        display: inline-block;
        margin-left: 28%;
    }
    .your-worlds .item {
        margin-top: 3%;
    }
    .your-worlds .main-button {
        margin-top: 5%;
    }
    .recommended {
        width: 80%;
        padding-top: 5%;
        margin-top: -5%;
        margin-left: 5%;
    }
    .top-downloaded {
        margin-top: -5%;
        margin-left: -10%;
        padding-bottom: 0;
        width: 125%;
    }
    .top-downloaded ul li {
        padding-bottom: 5%;
        padding-bottom: 10%;
    }
    .top-downloaded ul li img {
        margin-left: 0;
    }
    .recorded-moments {
        margin: auto 2%;
        margin-top: 5%;
        padding: 4%;
    }
    .recorded-moments .item h4 {
        border-bottom: none;
    }
    .feature-banner .vid {
        margin-top: -10%;
    }
    .vid video {
       height: 31.4vh;
       background-color: black;
    }
    .details .content {
        padding: 3%;
    }
    .details .content .left-info ul li {
        margin-bottom: 11%;
    }
    .details .content .left-info {
        height: 50%;
        padding-top: 4%;
        padding-bottom: 5%;
    }
    .details .content .right-info {
        height: 50%;
        padding-top: 3%;
        padding-left: 16%;
    }
    .details .content .right-info ul li i {
        margin-bottom: 6%;
    }
    .details .content img {
        margin-top: -20%;
    }
    .details .content .main-button {
        margin-top: 2%;
    }
    .page-content .others {
        margin: 5% auto;
        margin-bottom: 0;
        padding: 5%;
        padding-bottom: 2%;
        padding-top: 3%;
    }
    .page-content .others .heading-section {
        font-size: 1.5em;
        margin-bottom: 3%;
    }
    .page-content .others .item {
        padding-bottom: 3%;
        margin-bottom: 3%;
    }
    .others .item ul {
        margin-top: 3.5%;
    }
    .others .item ul li {
        margin-bottom: 15%;
    }
    .page-content .main-profile {
        margin: 0;
        padding: 2%;
    }
    .main-profile .videos {
        margin-top: 5%;
    }
    .main-profile .videos .heading-section {
        margin: 2% auto;
        font-size: 1.5em;
    }
    .videos .item .thumb a {
        width: 20%;
        top: 40%;
        left: 40%;
    }
}
